<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }} | 陈华强{% endif %}</title>

  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <link rel="stylesheet" href="/css/highlight.css">
  <!-- <link rel="stylesheet" href="/css/hux-blog.css"> -->
  <link rel="stylesheet" href="/css/hux-blog.min.css"">
  <link rel="stylesheet" href="/css/screen.css">
  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">

    <link href="http://cdn.staticfile.org/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <script>
        var imgUrl = "http://blog.wkchen.com/favicon/wx.jpeg"; 

        var lineLink = "http://blog.wkchen.com/";
        var descContent = "我叫陈华强，这里是我的巢"; //分享给好友的时候显示标题和描述，分享到朋友圈只显示标题
        var shareTitle = "watkin";
        var appid = "";

        var share = {
            shareFriend: function () {
                WeixinJSBridge.invoke(‘sendAppMessage‘, {
                    "appid": appid,
                    "img_url": imgUrl,
                    "img_width": "200",
                    "img_height": "200",
                    "link": lineLink,
                    "desc": descContent,
                    "title": shareTitle
                }, function (res) {
                    //_report(‘send_msg‘, res.err_msg);
                })
            },
            //分享到朋友圈
            shareTimeline: function () {
                WeixinJSBridge.invoke(‘shareTimeline‘, {//
                    "img_url": imgUrl,
                    "img_width": "200",
                    "img_height": "200",
                    "link": lineLink,
                    "desc": descContent,
                    "title": shareTitle
                }, function (res) {
                    //_report(‘timeline‘, res.err_msg);
                });
            }
        }


        document.addEventListener(‘WeixinJSBridgeReady‘, function onBridgeReady() {// 

            //发送给好友
            WeixinJSBridge.on(‘menu:share:appmessage‘, function (argv) {
                share.shareFriend();
            });
            //分享到朋友圈
            WeixinJSBridge.on(‘menu:share:timeline‘, function (argv) {
                share.shareTimeline();
            });

        }, false);

    </script>
</head>
